.header {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
}
.title {
  font-weight: 600;
  font-size: 20px;
}
.body {
  padding-left: 20px;
  padding-right: 20px;
}
.search_bar {
  background-color: #F2F2F2;
  padding: 8px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.search_icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.search_input {
  height: 27px;
  font-size: 16px;
  background: transparent;
  border: none;
}
.search_input:focus {
  outline: none;
}
.user_button {
  height: 35px;
  width: 35px;
  background-color: rgb(58, 152, 47);
  position: absolute;
  right: 20px;
  border-radius: 50px;;
}
.creation_button {
  background-color: black;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 100;
  border-radius: 8px;
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus_icon {
  width: 30px;
  height: 30px;
}